<br>
<button class="btnFiltrar" (click)="mostrarFiltros()" >
    Filtrar <img src="../../assets/imagenes/filtrar.png" alt="iconoFiltrar">
  </button>
<mat-card class="cardNegocios" *ngFor="let negocio of negocios">
  <mat-card-header>
    <mat-card-title>
      <div class="tituloCard"></div>
      <h1>{{negocio.nombre}}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="!negocio.oferta.length">
      <div class="tituloCard">
        Este negocio no tiene ofertas.
      </div>
    </div>
    <div *ngIf="negocio.oferta.length">
      <div class="row card-group">
        <div class="col-4" *ngFor="let ofert of negocio.oferta ; let i index">
          <div class="card">
            <div class="card">
                <img class="card-img-top" src="{{ofert.foto}}"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ofert.producto}}</h5>
                <br>
                <h6 class="card-subtitle mb-2 text-muted">{{ofert.tipo}} de
                   {{ofert.descuento}}<span *ngIf="ofert.tipo=='Descuento'">%</span></h6>
              <p class="card-text">{{(ofert.detalle.length >60) ? (ofert.detalle | slice:0:60) + "..." : (ofert.detalle)  }}</p>
              <p class="card-tex" style="font-style: italic; color:gray;" >{{ofert.fecha_inicio}} 
                  - {{ofert.fecha_fin}}
                </p>
                <button class="btnDetalle" (click)="eliminarOferta(i.id, i.idnegocio)" >Eliminar</button>
                <button class="btnDetalle" (click)="editarOferta(i)" >Editar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <br>
</mat-card>