@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  .animate-bottom {
    width: 100%;
    height: 100%;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1.5s;
    animation-name: animatebottom;
    animation-duration: 1.5s;
    background-size: 100%;
}

.todoContainer{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    /* border-style: outset; */
}

.img{
    width: 100%;
    height: 100%;
}

.btnDetalle{
    background-color: #253f3f; /* Green */
    border: none;
    border-radius: 6px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.btnCerrar{
    background-color: #751836;
    color: #ffffff;
    border: none;
    float: right;
    cursor: pointer;
}
