<div class="containerForm">
  <h1>Registrar Negocio</h1>
  <br>
  <form>
    <input type="hidden" id="txtLatitud" #lat>
    <input type="hidden" id="txtLongitud" #lon>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre:</label>
        <input type="email" class="form-control" id="inputNombre2" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Nit:</label>
        <input type="text" class="form-control" id="inputApellidos2" [(ngModel)]="nit" [ngModelOptions]="{standalone: true}" placeholder="Nit">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Dirección:</label>
        <input type="email" onChange="coordenadas()" class="form-control" id="direccion" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}"
          placeholder="Direccion">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Email:</label>
        <input type="text" class="form-control" id="inputEmail2" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}" placeholder="Email">
      </div>
    </div>
    <!-- Línea nueva  -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Telefono:</label>
        <input type="text" class="form-control" id="inputTelefono2" [(ngModel)]="telefono" [ngModelOptions]="{standalone: true}"
          placeholder="Telefono">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Ciudad:</label>
        <input type="text" class="form-control" id="inputCiudad2" [(ngModel)]="ciudad" [ngModelOptions]="{standalone: true}" placeholder="Ciudad">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Tipo de negocio:</label>
        <select id="inputTipo2" class="form-control" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}">
          <option>Restaurante</option>
          <option>Hotel</option>
          <option>Bar</option>
          <option>Almacen</option>
          <option>Otro</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail4">Detalle:</label>
      <textarea class="form-control" rows="5" id="detalle2" [(ngModel)]="detalle" [ngModelOptions]="{standalone: true}"></textarea>
    </div>

    <div class="container">
      <div class="card">
        <div class="card-header">
          Foto del negocio
        </div>
        <div class="card-body">
          <h5 class="card-title">Seleccionar la foto:</h5>
          <input type="file" (change)="upload($event)" accept=".png,.jpg" />
        </div>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'"
        [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div *ngIf="porcentaje=='1'" class="alert alert-info" role="alert">
      Imagen subida
    </div>
    <br>
    <button type="submit" (click)="registrarNegocio(lat.value, lon.value)" class="btnDetalle">Registrar Negocio</button>
  </form>
</div>
