<div *ngIf="!negocios.length && activarVista">
    <h1>No tiene negocios agregados aún.</h1>
</div>
<br>
<div class="containerNegocios" *ngIf="negocios.length">
    <div class="row card-group">
        <div class="col-4" *ngFor="let negocio of negocios; let i index">
            <div class="card">
                <div class="card">
                    <!-- <img class="card-img-top" src="../../assets/imagenes/banner3.png" alt="Banner"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{negocio.nombre}}</h5>
                        <p class="card-text">{{negocio.detalle}} </p>
                        <br>
                        <strong>Tipo: </strong>{{negocio.tipo}}
                        <br>
                        <strong>Télefono: </strong>{{negocio.telefono}}
                        <br>
                        <strong>Dirección: </strong>{{negocio.direccion}}
                        <br>
                        <strong>Ciudad: </strong>{{negocio.ciudad}}
                        <br>
                        <br>
                        <button class="btnDetalle" (click)="eliminarNegocio(i.idnegocio)">Eliminar</button>
                        <button class="btnDetalle" (click)="editarNegocio(i)" >Editar</button>
                    </div>
                    <div class="card-footer text-muted">
                        datoskis cualquiera
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>