<div class="animate-bottom">
  <table>
    <tr>
      <td class="parteIzquierda">
        <img class="imgLogo" src="../../assets/imagenes/logoOfertApp.png" alt="logo">
        <br>
        <div class="container1">
          <h1 class="tituloDesc">¿Quienes somos?</h1>
          <p>Somos una compañia con presencia
            en todo el territorio nacional,
            con fuertes bases morales y éticas.</p>
        </div>
        <br>
        <div class="container2">
          <h1>¿Que hacemos?</h1>
          <p>Nos dedicamos a la divulgación de ofertas,
            dando así la oportunidad de que negocios encuentren
            un lugar de cecimiento y al mismo tiempo ofreciendo a
            nuestros clientes la posibilidad de adquirir todo tipo
            de productos necesarios.</p>
        </div>
        <!-- <img src="../../assets/imagenes/fondo2.jpg" alt="background" class="fondoImg"> -->
      </td>
      <td>
        <br>
        <div class="parteDerecha">
          <div class="loginGmail">
            <h1 style="color: #751836; font-family: Lobster; font-size: 2.5rem;">Iniciar sesión:</h1>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">

            <label>Email:</label>
            <input class="form-control" placeholder="Ingrese su email" formControlName="correo" required>
            <mat-error style="color: red;" *ngIf="activarValidacion && loginForm.get('correo').invalid">{{getEmailErrorMessage()}}</mat-error>

            <br><br>

            <label>Contraseña:</label>
            <input type="password" class="form-control" placeholder="Ingrese su contraseña" formControlName="contrasena"
              required>
            <mat-error style="color: red;" *ngIf="activarValidacion && loginForm.get('contrasena').invalid">{{getPasswordErroMessage()}}</mat-error>

            <br><br>

            <button type="submit" class="btnDetalle">
              Iniciar Sesión
            </button>
            <button class="btnDetalle" routerLink="/registrar">
              Registrarse
            </button>

          </form>

          <br>
          <button (click)="signInWithGoogle()" class="btnGoogle">
            <img src="../../assets/imagenes/logoGoogle.png" style="width: 25px; height: 25px;" alt=""> Iniciar Sesión
          </button>
          <br>
          <br>
        </div>
      </td>
    </tr>
  </table>
</div>