<div class="todoContainer">
<button (click)="cerrarDialog()" class="btnCerrar">Cerrar</button>
<div class="card">
  <div class="card">
    <img class="card-img-top" src="{{negocio.foto}}" alt="Banner">
    <div class="card-body">
      <h5 class="card-title">{{negocio.nombre}}</h5>
      <p class="card-text">{{negocio.detalle}} </p>
      <br>
      <strong>Tipo: </strong>{{negocio.tipo}}
      <br>
      <strong>Télefono: </strong>{{negocio.telefono}}
      <br>
      <strong>Dirección: </strong>{{negocio.direccion}}
      <br>
      <strong>Ciudad: </strong>{{negocio.ciudad}}
      <br>
      <br>
      <div>
      </div>
    </div>
  </div>
</div>
</div>