<div class="todoContainer">
<button (click)="cerrarDialog()" class="btnCerrar">Cerrar</button>
<div class="containerForm">
  <h1>Crear Oferta para {{nombre}}</h1>
  <br>
  <form>
    <div class="form-group">
      <label for="inputEmail4">Producto:</label>
      <input type="text" class="form-control" id="inputProducto" [(ngModel)]="producto" [ngModelOptions]="{standalone: true}" placeholder="Producto">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Tipo de oferta:</label>
          <select id="inputTipo2" class="form-control" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}">
            <option>Descuento</option>
            <option>Promocion</option>
            <option>Hora Feliz</option>
            <option>Cumpleaños</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Oferta
            <span *ngIf="tipo=='Descuento'"> %</span>
            <span style="color: grey;" *ngIf="tipo=='Promocion'">Ej. 2x1..</span>
            :
          </label>
          <input [attr.disabled]="tipo=='Hora Feliz' || tipo=='Cumpleaños' ? '' : null" type="text" class="form-control" id="inputValor"
            [(ngModel)]="descuento" [ngModelOptions]="{standalone: true}" placeholder="Oferta">
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Valor:</label>
          <input type="text" class="form-control" id="inputValor" [(ngModel)]="valor" [ngModelOptions]="{standalone: true}" placeholder="Valor">
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Fecha de Inicio:</label>
        <input type="text" class="form-control" id="inputInicio" [(ngModel)]="fecha_inicio" [ngModelOptions]="{standalone: true}"
          placeholder="Fecha de inicio">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Fecha Fin:</label>
        <input type="text" class="form-control" id="inputFin" [(ngModel)]="fecha_fin" [ngModelOptions]="{standalone: true}" placeholder="Fecha fin">
      </div>
    </div>
    <!-- Línea nueva  -->
    <div class="form-group">
      <label for="inputEmail4">Detalle:</label>
      <textarea class="form-control" rows="5" id="detalle2" [(ngModel)]="detalle" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Foto de la oferta
        </div>
        <div class="card-body">
          <h5 class="card-title">Seleccionar la foto:</h5>
          <input type="file" (change)="upload($event)" accept=".png,.jpg" />
        </div>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'"
        [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div *ngIf="porcentaje=='1'" class="alert alert-info" role="alert">
      Imagen subida
    </div>
    <br>
    <button type="submit" (click)="registrarOferta()" class="btnDetalle">Crear Oferta</button>
  </form>
</div>
</div>