<div class="todoContainer">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px; width: 50%;">
    <!-- <a class="navbar-brand" href="#">Filtros</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="border: 2px solid #751836; padding: 10px; border-radius: 2px 2px;" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <h1 class="labelTitulo">Tipo de Negocio</h1>
          <div class="form-group col-md-6" style="padding-top: 10px;">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" [(ngModel)]="todas1" value="option4">
              <label class="form-check-label" for="inlineCheckbox1">Todos</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" [(ngModel)]="Restaurante">
              <label class="form-check-label" for="inlineCheckbox1">Restaurante</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" [(ngModel)]="Bar">
              <label class="form-check-label" for="inlineCheckbox2">Bar</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" [(ngModel)]="Hotel">
              <label class="form-check-label" for="inlineCheckbox2">Hotel</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" [(ngModel)]="Almacen">
              <label class="form-check-label" for="inlineCheckbox3">Almacen</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option3" [(ngModel)]="Otro">
              <label class="form-check-label" for="inlineCheckbox3">Otro</label>
            </div>

          </div>
        </li>
        <li class="nav-item dropdown">
          <h1 class="labelTitulo">Tipo de Oferta</h1>
          <div class="form-group col-md-6" style=" padding-top: 10px;">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" [(ngModel)]="todas2" value="option4">
              <label class="form-check-label" for="inlineCheckbox1">Todas</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox6" [(ngModel)]="Descuento" value="option5">
              <label class="form-check-label" for="inlineCheckbox2">Descuento</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox7" [(ngModel)]="Promocion" value="option6">
              <label class="form-check-label" for="inlineCheckbox3">Promocion</label>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="Descuento">
          <h1 class="labelTitulo">Valor de Descuento</h1>
          <div class="form-group col-md-6" style=" padding-top: 10px;">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" [(ngModel)]="v10" value="option4">
                  <label class="form-check-label" for="inlineCheckbox1"><10%</label>
                </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" [(ngModel)]="v1030" value="option4">
              <label class="form-check-label" for="inlineCheckbox1">10%-30%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" [(ngModel)]="v3050" value="option4">
              <label class="form-check-label" for="inlineCheckbox1">30%-50%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" [(ngModel)]="v5080" value="option4">
              <label class="form-check-label" for="inlineCheckbox1">50%-80%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" [(ngModel)]="v80" value="option4">
              <label class="form-check-label" for="inlineCheckbox1">>80%</label>
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div style="padding-right: 30px;">
          <button class="btnDetalle" type="submit" (click)="aplicarFiltros()">Aplicar Filtros</button>
        </div>
        <span style="padding: 10px;">
          <button class="btnDetalle" (click)="cerrarDialog()" style="padding: 10px 17px 10px 17px;" type="button">Cancelar</button>
        </span>
      </form>
    </div>
  </nav>
</div>